@import url('../js/rs/royalslider.css');@import url('../js/rs/minimal-white/rs-minimal-white.css');@import url('owl.carousel.css');*, *:after, *::before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html *{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
html,
button,
input,
select,
textarea{color:#747474;}
html{font-size:1em;line-height:1.6em;}
html,
body{min-height:100% !important;height:100%;}
::-moz-selection{background:#ffde00;color:#fff;text-shadow:none;}
::selection{background:#ffde00;color:#fff;text-shadow:none;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
audio,
canvas,
img,
video{vertical-align:middle;}
img{vertical-align:middle;max-width:100%;width:auto;}
fieldset{border:0;margin:0;padding:0;}
textarea{resize:vertical;}
@font-face{font-family:"SSSocialRegular";src:url('type/ss-social-regular.eot');src:url('type/ss-social-regular.eot?#iefix') format('embedded-opentype'),
url('type/ss-social-regular.woff') format('woff'),
url('type/ss-social-regular.ttf') format('truetype'),
url('type/ss-social-regular.svg#SSSocialRegular') format('svg');font-weight:normal;font-style:normal;}
html:hover [class^="ss-"]{-ms-zoom:1;}
.ss-icon, .ss-icon.ss-social-regular,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"].ss-social-regular:before, [class*=" ss-"].ss-social-regular:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"].ss-social-regular.right:after, [class*=" ss-"].ss-social-regular.right:after{font-family:"SSSocialRegular";font-style:normal;font-weight:normal;text-decoration:none;text-rendering:optimizeLegibility;white-space:nowrap;-moz-font-feature-settings:"liga=1";-moz-font-feature-settings:"liga";-ms-font-feature-settings:"liga" 1;-o-font-feature-settings:"liga";font-feature-settings:"liga";-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
[class^="ss-"].right:before,
[class*=" ss-"].right:before{display:none;content:'';}
body{font-family:'Gotham SSm A', 'Gotham SSm B',helvetica,arial,sans-serif;font-weight:300;font-style:normal;font-size:1em;line-height:1.6em;color:#747474;background:#fff;}
a, a:visited{outline:none;color:#60c2f4;text-decoration:none;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;transition:all 0.2s;}
a:hover{outline:none;color:#60c2f4;text-decoration:underline;}
a:active, a:focus{outline:none;}
h1, h2, h3, h4, h5, h6{color:#60c2f4;font-family:'Gotham SSm A', 'Gotham SSm B',helvetica,arial,sans-serif;font-weight:300;font-style:normal;line-height:1.1em;margin-top:1em;margin-bottom:1em;}
h1{font-size:1.8em;letter-spacing:-.05em;margin:0;text-transform:lowercase;}
h2{font-size:1.6em;line-height:1.5em;text-transform:lowercase;}
h3{font-size:1.4em;text-transform:none;}
h4{font-size:1.3em;text-transform:none;}
h5{font-size:1.1em;text-transform:none;}
h6{font-size:1em;text-transform:none;}
h1 span,
h2 span,
h3 span{font-weight:500;}
h1 span.ss-icon{font-size:.8em;vertical-align:bottom;font-weight:400;}
.blue{color:#60c2f4;}
#container{font-size:.9em;line-height:1.5em;background:#ffffff;width:100%;height:100%;}
.content{max-width:1009px;margin:0 auto;padding:1.5em;}
.col{border:0px solid rgba(0,0,0,0);float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-moz-background-clip:padding-box !important;-webkit-background-clip:padding-box !important;background-clip:padding-box !important;width:100%;}
header[role="banner"]{position:relative;font-family:'Myriad-Pro',helvetica,arial,sans-serif;font-weight:400;font-style:normal;}
#supernav{display:none;background:#67c0ec;color:#fff;font-size:.9em;}
#supernav .content{padding:.5em 1.5em 2em;}
#supernav .left{display:none;}
#supernav .right{width:100%;}
#supernav .nav{margin:5px 0 0;padding:0;}
#supernav .nav li{font-size:1.1em;font-weight:700;margin-right:15px;display:inline-block;}
#supernav .nav li a,
#supernav .language > ul > li > a{color:#fff;}
#supernav .nav li a:hover,
#supernav .language > ul > li > a:hover{color:#fff;text-decoration:underline;}
#supernav .language,
#supernav .search{text-align:right;float:left;}
#supernav .language{display:none;width:40%;margin-right:5%;}
#supernav .language > ul{list-style:none;margin:5px 0 0;font-size:1em;}
#supernav .language > ul li a{display:block;}
.sb-slidebar .language > ul li .arrowdown,
#supernav .language > ul li .arrowdown{width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #fff;float:right;margin:8px 0 0 8px;}
#supernav .search{width:100%;}
#supernav .search .searchwrap,
.sb-slidebar .search .searchwrap{background:#fff;border-radius:20px;-webkit-border-radius:20px;height:32px;margin-bottom:8px;}
#supernav .search input[type="text"],
.sb-slidebar .search input[type="text"]{width:70%;border:none;border-radius:20px;-webkit-border-radius:20px;outline:none;padding:.5em 1em;float:left;height:32px;}
#supernav .search input[type="submit"],
.sb-slidebar .search input[type="submit"]{overflow:visible;position:relative;float:right;border:0;padding:0;cursor:pointer;outline:none;width:25%;color:#fff;text-transform:lowercase;border-radius:20px;-webkit-border-radius:20px;padding:0;background:#67c0ec;text-align:center;margin:2px;height:28px;font-weight:700;}
#supernav .search input[type="submit"]:hover{background:#666;}
#topnav.stuck{position:fixed;z-index:999;top:0;width:100%;background:#fff;}
#topnav .content{padding-top:0;padding-bottom:0;}
#nav{width:25%;float:right;text-align:right;}
#nav ul.nav{display:none;list-style:none;padding:0;margin:0;background:url('../img/elements/navdiv.png') no-repeat;background-size:contain;background-position:100% 0;}
#nav ul.nav li{display:inline-block;margin:0;background:url('../img/elements/navdiv.png') no-repeat 0 0;background-size:contain;}
#nav ul.nav li a{color:#4b4b4b;font-size:1.3em;font-weight:300;padding:30px 14px;display:block;}
#nav ul.nav li a:hover{color:#60c2f4;text-decoration:none;}
#nav ul.nav li a.active{font-weight:500;}
.controlnav{position:relative;text-align:right;width:45px;height:45px;padding-top:5px;padding-left:5px;display:block;float:right;margin-top:10px;}
#nav-toggle{position:absolute;left:25%;top:25%;}
#nav-toggle{cursor:pointer;padding:10px 35px 16px 0px;}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after{cursor:pointer;border-radius:1px;height:5px;width:35px;background:#60c2f4;position:absolute;display:block;content:'';}
#nav-toggle span:before{top:-10px;}
#nav-toggle span:after{bottom:-10px;}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after{transition:all 500ms ease-in-out;}
#nav-toggle.active span{background-color:transparent;}
#nav-toggle.active span:before, #nav-toggle.active span:after{top:0;}
#nav-toggle.active span:before{transform:rotate(45deg);}
#nav-toggle.active span:after{transform:rotate(-45deg);}
.sb-slidebar{background:#67c0ec !important;padding:1em !important;}
.sb-slidebar .search{width:60%;float:left;}
.sb-slidebar .search input[type="submit"]{overflow:hidden;text-indent:-99999px;background:#67c0ec url('../img/icons/search.svg') no-repeat 50% 50%;height:28px;width:28px;}
.sb-slidebar .search input[type="submit"]:hover{background:#666 url('../img/icons/search.svg') no-repeat 50% 50%;}
.sb-slidebar .language{width:35%;float:right;text-align:right;}
.sb-slidebar .language ul{margin:0;}
.sb-slidebar .lang-submenu:after{left:75%;}
.sb-slidebar .lang-menu > li > a{font-size:.9em;padding:10px 5px;line-height:1.2em;}
.sb-slidebar .lang-menu > li > a:hover{text-decoration:none;}
.sb-slidebar .lang-submenu > li > a{color:#60c2f4;font-size:0.9em;}
.sb-slidebar ul{list-style:none;padding:0;margin-top:1.5em;font-weight:500;}
.sb-slidebar ul.sb-nav li{margin-bottom:.5em;}
.sb-slidebar ul.sb-nav li a{display:block;}
.sb-slidebar ul li a{color:#fff;text-decoration:none;}
.sb-slidebar ul li a:hover{color:#ceefff;text-decoration:underline;}
.sb-slidebar ul.sb-nav li{font-size:1.2em;}
.sb-slidebar ul.sb-supernav li{font-size:1.2em;font-weight:300;margin-bottom:.5em;}
.sb-slidebar .leftcol{float:left;width:55%;margin-right:2.5%;}
.sb-slidebar .rightcol{float:left;width:42.5%;}
.sb-slidebar ul.social li{display:inline-block;font-size:3.0em;margin-right:5px;}
.sb-slidebar ul.social li a:hover{text-decoration:none;}
#logo{width:70%;float:left;margin:10px 0;text-align:left;}
#logo img{max-height:42px;}
#logo a img{opacity:1;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;}
#logo a:hover img{opacity:.8;}
.lang-menu > li{display:inline-block;margin:0;position:relative;margin-left:2px;}
.lang-menu > li > a{display:block;color:#60c2f4;}
.no-touch .lang-menu > li > a:hover,
.no-touch .lang-menu > li > a:active{color:#60c2f4;}
.lang-submenu{position:absolute;display:block;z-index:100;visibility:hidden;opacity:0;padding:0;text-align:left;pointer-events:none;-webkit-transition:visibility 0s, opacity 0s;-moz-transition:visibility 0s, opacity 0s;transition:visibility 0s, opacity 0s;}
.cbp-tm-show .lang-submenu{width:12em;right:0;margin:0 0 0 -8em;opacity:1;right:0;visibility:visible;pointer-events:auto;-webkit-transition:visibility 0s, opacity 0.3s;-moz-transition:visibility 0s, opacity 0.3s;transition:visibility 0s, opacity 0.3s;-webkit-box-shadow:0 7px 10px 0 rgba(0,0,0,.1);box-shadow:0 7px 10px 0 rgba(0,0,0,.1);border:1px solid #60c2f4;border-top:none;-webkit-border-radius:5px;border-radius:5px;}
.lt-ie9 .lang-menu li a:hover ~ .lang-submenu,
.lt-ie9 .lang-menu li .lang-submenu:hover{opacity:1;visibility:visible;}
.lt-ie9 .lang-submenu{width:9em;margin:0;padding:2px 0 0;}
.cbp-tm-show-above .lang-submenu{bottom:100%;padding-bottom:10px;}
.cbp-tm-show-below .lang-submenu{top:100%;padding-top:10px;}
.cbp-tm-nospace-right .lang-submenu{right:0;left:auto;}
.cbp-tm-nospace-left .lang-submenu{left:0;}
.lang-menu > li:last-child .lang-submenu{right:0;}
.lang-submenu:after{border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;}
.cbp-tm-show-above .lang-submenu:after{top:100%;margin-top:-10px;}
.cbp-tm-show-below .lang-submenu:after{bottom:100%;margin-bottom:-10px;}
.lang-submenu:after{border-color:transparent;border-width:10px;margin-left:-10px;left:50%;}
.cbp-tm-show-above .lang-submenu:after{border-top-color:#fff;}
.cbp-tm-show-below .lang-submenu:after{border-bottom-color:#fff;}
.cbp-tm-show > a{color:#ffde00 !important;}
.lang-submenu > li{display:block;background:#fff;}
.lang-submenu > li:last-child{-webkit-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;}
.lang-submenu > li a{padding:4px 1.5em;display:block;font-size:1em;text-align:center;position:relative;color:#60c2f4;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;transition:all 0.2s;}
.no-touch .lang-submenu > li > a:hover,
.no-touch .lang-submenu > li > a:active{color:#fff;background:#60c2f4;text-decoration:none;}
.sidesocial{width:900px;color:#747474 !important;height:34px;display:block;position:absolute;z-index:3;bottom:-15px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:15px;webkit-border-radius:15px;border:2px solid #67c0ec;text-overflow:ellipsis;}
.sidesocial p{line-height:34px;min-width:100%;font-size:.8em;margin:0;}
.sidesocial a{min-width:100%;}
.sidesocial a:hover{text-decoration:none;}
.sidesocial:hover{cursor:pointer;z-index:4;}
.social-facebook{left:-840px;padding-right:80px;background:#fff url('../img/elements/social-facebook.png') no-repeat 99% 0;}
.social-facebook p{text-align:right;margin-right:90px;}
.social-facebook a{display:block;min-width:770px;text-overflow:ellipsis;margin-left:50px;width:770px;overflow:hidden;height:34px;white-space:nowrap;}
.social-twitter{right:-840px;background:#fff url('../img/elements/social-twitter.png') no-repeat 5px 0;}
.social-twitter p{margin-left:80px;height:34px;text-overflow:ellipsis;overflow:hidden;display:block;white-space:nowrap;width:770px;}
.social-twitter a{display:inline;text-overflow:ellipsis;overflow:hidden;height:34px;white-space:nowrap;}
#home{margin-bottom:1.5em;}
#homeslider{width:100%;position:relative;overflow:hidden;text-align:center;}
#homeslider *{-webkit-backface-visibility:inherit;}
.homeslider .rsOverflow, .royalSlider.homeslider{max-height:624px;min-height:350px;}
.homeslider.rsMinW .rsBullets{width:100%;bottom:24px;right:auto;height:auto;line-height:24px;}
.homeslider.rsMinW .rsBullet{width:20px;height:16px;padding:6px 5px 6px 4px;}
.homeslider.rsMinW .rsBullet span{width:16px;height:16px;background:none;box-shadow:none;border:2px solid #fff;}
.homeslider.rsMinW .rsBullet.rsNavSelected span{background:#FFF;}
.rsContent img{width:100%;max-width:none;}
.slide .slideheadline{position:absolute;z-index:2;bottom:150px;left:20px;}
.slide .rsABlock{position:relative;display:block;left:auto;top:auto;line-height:auto;}
.slide .slideheadline h2,
.slide .slideheadline h3,
.slide .slideheadline h2 a,
.slide .slideheadline h3 a{color:#fff;margin:0;text-align:left;text-shadow:0 2px 12px #666;}
.slide .slideheadline h2,
.slide .slideheadline h2 a,{font-size:3em;line-height:1.2em;letter-spacing:-.05em;font-weight:300;text-transform:lowercase;}
.slide .slideheadline h3,
.slide .slideheadline h3 a{font-size:1.2em;font-family:"myriad-pro-condensed",sans-serif;font-style:normal;font-weight:700;text-transform:uppercase;}
.slide .linkbar{width:100%;position:absolute;z-index:2;bottom:60px;left:0;margin:0;}
.slide .linkbar .slidecaption{float:left;width:95%;background:#fff;background:rgba(255,255,255,.6);color:#303030;font-family:"myriad-pro-condensed",sans-serif;font-style:normal;font-weight:400;font-size:.9em;padding:5px 10px 3px 1.5em;text-align:left;-webkit-border-top-right-radius:20px;-webkit-border-bottom-right-radius:20px;-moz-border-radius-topright:20px;-moz-border-radius-bottomright:20px;border-top-right-radius:20px;border-bottom-right-radius:20px;}
.slide .linkbar .slidecaption a{color:#303030;display:block;}
.slide .linkbar .slidecaption a:hover{color:#0093d0}
.slide .linkbar .morelink{display:none;float:left;width:15%;text-align:left;padding-top:5px;}
.slide .linkbar .morelink a{font-size:.9em;color:#fff;font-weight:bold;margin-left:15px;display:block;text-shadow:0 2px 12px #666;}
.slide .linkbar .morelink a:hover{color:#67c0ec;text-decoration:none;}
.slide .linkbar .morelink a:hover > .arrowright{border-left:8px solid #67c0ec}
.arrowright{width:0;height:0;border-top:8px solid transparent;border-bottom:8px solid transparent;border-left:8px solid #fff;}
.slide .linkbar .morelink a .arrowright{margin:4px 8px 0 0;float:left}
#hero{position:relative;width:100%;}
#hero img{width:100%;height:auto;}
#hero .title{position:absolute;left:0;bottom:0;right:0;margin:auto;width:100%;max-width:960px;padding:10px;background:rgba(255,255,255,.5);text-align:center;}
#hero .title h1{color:#4b4b4b;text-transform:lowercase;font-weight:200;}
.subhero{position:relative;width:100%;}
.subhero{width:100%;height:auto;}
.subhero .title{position:absolute;left:0;bottom:0;right:0;width:100%;height:100%;text-align:center;}
.subhero .title h2{color:#fff;text-shadow:0 1px 2px #666;font-weight:500;text-transform:none;}
#subnav{background:#fff;margin-bottom:20px;width:100%;}
#subnav.inner{background:#f1f1f1;margin-bottom:1.5em;}
#subnav.inner h1{color:#4b4b4b;text-transform:lowercase;text-align:center;padding:.5em;}
#subnav ul.nav{background:#67c0ec;top:0;left:0;bottom:0;right:0;margin:auto;width:100%;max-width:960px;list-style:none;text-align:center;padding:0;}
#subnav ul.nav li{display:block;border-bottom:1px solid #93dafd;line-height:1.3em;margin:0;}
#subnav ul.nav li:first-child{border-left:none;}
#subnav ul.nav li a{color:#fff;display:block;font-size:1.1em;line-height:1.3em;padding:2px 12px 2px 15px;}
#subnav ul.nav li a:hover{color:#93dafd;}
.subnav.wide{text-align:center;margin-bottom:1.5em;}
.subnav.wide h4{color:#58595b;margin-bottom:.5em;}
.subnav.wide ul{margin:0;padding:0;list-style:none;}
.subnav.wide li a{color:#58595b;}
.subnav.wide li a:hover{color:#747474;}
a.moreinfo{text-decoration:underline;padding-bottom:60px;background:url('../img/icons/arrowdown.svg') no-repeat;background-size:50px 50px;background-position:50% 90%;height:80px;display:block;}
a.moreinfo:hover{background-position:50% 100%;text-decoration:none;}
#innersearch{background:#f1f1f1;}
#innersearch .searchwrap{background:#fff;border-radius:30px;-webkit-border-radius:30px;height:55px;margin-bottom:8px;}
#innersearch input[type="text"]{width:80%;border:none;border-radius:30px;-webkit-border-radius:30px;outline:none;padding:.5em 1em;float:left;height:55px;font-size:1.1em;}
#innersearch input[type="submit"]{overflow:visible;position:relative;float:right;border:0;padding:0;cursor:pointer;outline:none;width:10%;color:#fff;text-transform:lowercase;border-radius:30px;-webkit-border-radius:30px;padding:0;overflow:hidden;text-indent:-99999px;background:#67c0ec url('../img/icons/search.svg') no-repeat 50% 50%;text-align:center;margin:2px;height:51px;width:51px;font-weight:700;}
#innersearch input[type="submit"]:hover{background:#666 url('../img/icons/search.svg') no-repeat 50% 50%;}
.no-svg #innersearch input[type="submit"]{background:#67c0ec url('../img/icons/search.png') no-repeat 50% 50%;}
.placeholder,::-webkit-input-placeholder{color:#67c0ec;}
:-moz-placeholder{color:#67c0ec;opacity:1;}
::-moz-placeholder{color:#67c0ec;opacity:1;}
:-ms-input-placeholder{color:#67c0ec;}
.searchfilter{text-align:center;width:100%;}
.searchfilter .filterselect a{text-decoration:none;}
.searchfilter .filterselect a span{display:inline-block;font-size:1.1em;}
.searchfilter .filterselect a .arrowdown{width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-top:8px solid #67c0ec;margin:5px 0 0 5px;display:inline-block;}
.searchfilter .filterselect a.open .arrowdown{border-bottom:8px solid #67c0ec;border-top:0;}
.filteroptions{background:#fff;border-radius:20px;-webkit-border-radius:20px;padding:1.5em;font-size:.9em;margin-top:1.5em;}
.filteroptions ul{list-style:none;padding:0;margin:0 0 1em;}
.filteroptions ul li{margin:0 0 .25em;color:#67c0ec;}
.filteroptions input[type="checkbox"]{padding-right:10px;}
.filteroptions h4{font-family:"myriad-pro-condensed",sans-serif;font-style:normal;font-weight:700;text-transform:uppercase;margin:0 0 .5em;}
#maincontent{position:relative;background:#fff;}
.sectionbreak{background:#f1f1f1;font-size:.9em;line-height:1.3em;}
.sectionbreak .content{padding:1.5em 1.15em;}
.sectionbreak .content .wrapper{overflow:hidden;}
.sectionbreak .content a > .wrapper,
a > .bluewide,
a > .bluefeature{border-radius:0;-webkit-border-radius:0;-webkit-transition:all 2s cubic-bezier(0.23, 1, 0.32, 1);-o-transition:all 2s cubic-bezier(0.23, 1, 0.32, 1);transition:all 2s cubic-bezier(0.23, 1, 0.32, 1);}
.sectionbreak .content a:hover > .wrapper,
a:hover > .bluewide,
a:hover > .bluefeature{border-radius:20px;-webkit-border-radius:20px;-webkit-transition:all 2s cubic-bezier(0.23, 1, 0.32, 1);-o-transition:all 2s cubic-bezier(0.23, 1, 0.32, 1);transition:all 2s cubic-bezier(0.23, 1, 0.32, 1);}
.sectionbreak .content a:hover h1,
a:hover > .bluefeature p{text-decoration:underline;}
.sectionbreak p{color:#747474 !important;}
.sectionbreak .row{background:#fff;}
.sectiongroup .row{position:relative;margin-bottom:2%;}
.sectiongroup .row:last-child{margin-bottom:0;}
.sectiongroup .col{margin-bottom:1.5em;}
.sectionbreak img,
.sectiongroup img{width:100%;height:auto;}
.sectiongroupAndy img{width:100%;}
.sectionbreak .imgcol{background-size:cover;background-position:50% 50%;background-repeat:no-repeat;min-height:180px;}
.twocolfeature .col{margin-bottom:0;}
.hero{position:relative;}
.hero .video{position:relative;width:100%;height:100%;}
.block .video a ,
.hero .video a{display:block;position:absolute;width:100%;height:100%;background:url('../img/elements/playbtn.png')no-repeat 50% 50%;}
.block .video a:hover,
.hero .video a:hover{opacity:.8;}
.hero .herolabel{font-weight:500;border:1px solid #f1f1f1;background:#fff;background:rgba(255,255,255,.8);text-align:center;padding:10px;z-index:3;}
.herolabel h3{font-family:"myriad-pro-condensed",sans-serif;font-style:normal;font-weight:700;text-transform:uppercase;margin:0;font-size:1.2em;}
.herolabel h5{margin:5px 0;color:#747474;font-size:1em;}
.herolabel p{margin:0;font-size:.8em;line-height:1.1em;}
.smallhero{position:relative;}
.smallhero .overlay{position:absolute;width:100%;height:100%;z-index:2;opacity:.8;}
.smallhero .overlay:hover{opacity:1;}
.smallhero .overlay.video{background:url('../img/icons/play.svg') no-repeat 50% 50%;background-size:80px 80px;}
.smallhero .overlay.photo{background:url('../img/icons/photo.svg') no-repeat 50% 50%;background-size:80px 80px;}
.smallhero .herolabel{position:absolute;font-weight:500;background:#fff;background:rgba(255,255,255,.8);text-align:center;padding:10px;z-index:3;width:92%;top:50%;margin-left:4%;margin-right:4%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);}
.bluefeature{background:#67c0ec;color:#fff;height:100%;font-size:.9em;}
.bluefeature h3{font-family:"myriad-pro-condensed",sans-serif;font-style:normal;font-weight:700;color:#fff !important;margin:0;text-transform:uppercase;font-size:1.3em;}
.bluefeature a,
.bluewide a{color:#fff;}
.bluefeature a:hover,
.bluewide a:hover{color:#fff;text-decoration:underline;}
.feature{background:#fff;height:100%;font-size:.9em;}
.feature h3{font-family:"myriad-pro-condensed",sans-serif;font-style:normal;font-weight:700;margin:0;text-transform:uppercase;font-size:1.3em;}
.feature p,
.bluefeature p{margin:.5em 0;}
.centered{display:table;width:100%;height:100%;text-align:center;}
.centered .copy{display:table-cell;vertical-align:middle;padding:1.5em 3em;}
.bluewide{background:#67c0ec;color:#fff;padding:3.0em !important;text-align:center;}
.bluewide h3{font-size:1.1em;color:#fff;}
.border{border:1px solid #f2f2f2;}
#pageintro,
.pageintro{padding:0 0 10px;font-family:'Gotham SSm A', 'Gotham SSm B',helvetica,arial,sans-serif;font-weight:200;font-style:normal;}
#pageintro h2,
.pageintro h2{font-size:1.4em;font-weight:500;margin:0 0 .5em;text-transform:none;}
#pageintro p,
.pageintro p{font-size:1.4em;line-height:1.5em;margin:0 0 20px;}
.featurefull{background:#67c0ec;color:#fff;margin-top:20px;}
#featurerecipes .featurefull:first-child{margin-top:0;}
.featurefull .bluefeature h2{color:#fff;margin:0;line-height:1.2em;}
#single{}
.meta{font-weight:500;color:#a6a8aa;font-size:.8em;margin-bottom:1.5em;}
.meta a{color:#a6a8aa;}
.meta a:hover{color:#666;}
.atss{top:520px !important;}
.atss a{background:#67c0ec !important;}
#single h4,
h4.condensed{font-family:"myriad-pro-condensed",sans-serif;font-style:normal;font-weight:700;text-transform:uppercase;margin-bottom:.5em;}
.ingredients ul{list-style:none;margin:0;padding:0;}
.instructions ol{margin:0;padding-left:20px;}
.ingredients li,
.instructions li{margin-bottom:1em;}
.big{font-size:1.4em;margin-top:0;font-weight:200;}
.additionalinfo{background:#f1f1f1;}
.servingsize{margin-top:0;font-weight:500;}
table.nutrition{width:100%;}
table.nutrition tr:nth-child(even){background:#f2f2f2;}
table.nutrition tr:nth-child(odd){background:#fff;}
table.nutrition td{padding:3px;}
table.nutrition td.val{text-align:right;}
#searchresults h1{text-transform:none;margin-bottom:1em;line-height:1.4em;font-weight:500;}
#searchresults h1 span{font-weight:300;color:#747474;}
#searchresults h2{text-transform:none;margin:0;}
#searchresults h2 a{text-decoration:underline;}
#searchresults h2 a:hover{color:#747474;}
.resultrow .meta{color:#747474;margin-top:0;margin-bottom:.25em;}
.resultrow p{margin-top:.25em;}
#news h1,
#events h1,
#articles h1{font-weight:700;text-transform:none;margin-bottom:1em;line-height:1.4em;}
#events h1,
#articles h1{margin-bottom:.5em;}
#news h2,
#events h2,
#articles h2{text-transform:none;margin:0;}
#single.news{margin-bottom:130px;}
#single.news hgroup h1{margin-bottom:0;}
#single.news h1{font-weight:500;text-transform:none;}
#single.news h5{color:#747474;font-weight:500;}
.pullquote{background:#67c0ec;color:#fff;width:100%;text-align:center;}
.pullquote h3{color:#fff;font-weight:200;}
.pullquote h5{color:#fff;font-weight:500;}
.pullquote.fullwidth{background:#67c0ec url('../img/icons/quotes.png') no-repeat 50% 15%;padding:3em 8%;}
.content.subfeature{padding-top:3em;padding-bottom:3em;line-height:1.5em;font-size:.9em;}
.related h4{margin:1em 0 .5em;font-family:"myriad-pro-condensed",sans-serif;font-style:normal;font-weight:700;text-transform:uppercase;}
.related ul{list-style:none;padding:0;margin:0;}
.related ul li{margin-bottom:15px;font-size:.9em;line-height:1.3em;}
.related ul li{padding-left:40px;min-height:30px;}
.related ul li.link{background:url('../img/icons/link.png') no-repeat;background-size:25px 25px;}
.related ul li.doc{background:url('../img/icons/doc.svg') no-repeat;background-size:25px 25px;}
.related ul li.email{background:url('../img/icons/email.png') no-repeat;background-size:50px 50px;}
.related ul li.phone{background:url('../img/icons/call.png') no-repeat;background-size:50px 50px;}
#related h2,
#related h3{text-transform:none;margin-top:0;margin-bottom:0;}
#related h3{color:#747474;}
.carousel-gallery{width:100%;height:auto;position:relative;margin-bottom:1.5em;}
.carousel-gallery h1{text-align:center;padding:30px;text-transform:none;color:#4b4b4b;font-weight:200;}
.carousel{margin:0;padding:0;}
.owl-theme .owl-controls{margin:0;}
.carousel-gallery .owl-nav{position:absolute;z-index:2;top:50%;width:100%;margin-top:-40px;}
.carousel-gallery .owl-dots{display:none !important;}
.carousel-gallery .owl-theme .owl-controls .owl-nav [class*=owl-]{position:absolute;cursor:pointer;margin:0;width:39px;height:80px;overflow:hidden;text-indent:-9999px;}
.carousel-gallery .owl-theme .owl-controls .owl-nav .owl-prev{background:url('../img/icons/prevarrow.png') no-repeat;left:0;}
.carousel-gallery .owl-theme .owl-controls .owl-nav .owl-next{background:url('../img/icons/nextarrow.png') no-repeat;right:0;width:38px;}
.carousel.text .carouseltext-wrap,
.carousel .carouseltext-wrap{position:absolute;height:100%;width:100%;}
.carousel .carouseltext-wrap.hoverstate .centered .copy{padding:1em 2em;}
.carousel .carouseltext-wrap.hoverstate{background:#fff;background:rgba(255,255,255,.9);opacity:0;z-index:2;}
.carousel .carouseltext-wrap:hover,
.carousel .carouseltext-wrap:active{opacity:1;-webkit-transition:all 1s cubic-bezier(0.23, 1, 0.32, 1);-o-transition:all 1s cubic-bezier(0.23, 1, 0.32, 1);transition:all 1s cubic-bezier(0.23, 1, 0.32, 1);}
.carousel .carouseltext-wrap:hover h5,
.carousel .carouseltext-wrap:active h5{text-decoration:underline;}
.carousel .carouseltext-wrap h5{font-size:1.5em;line-height:1.3em;margin-top:0;margin-bottom:.25em;}
.carousel .carouseltext-wrap p{font-size:.9em;line-height:1.5em;color:#747474;}
.carousel .carouseltext-wrap p.articledate{font-size:.8em;}
.carousel.text .carouseltext-wrap:hover,
.carousel.text .carouseltext-wrap:active{background:#fff;}
.carousel.text .carouseltext-wrap h5{color:#fff;}
.carousel.text .carouseltext-wrap:hover h5,
.carousel.text .carouseltext-wrap:active h5{color:#6bc2ec;text-decoration:underline;}
.carousel.text .carouseltext-wrap p{display:none;}
.carousel.text .carouseltext-wrap:hover p,
.carousel.text .carouseltext-wrap:active p{display:block;}
.carousel.text .carousel-item{min-height:300px;background:#67c0ec;color:#fff;text-align:center;position:relative;height:100%;}
.carousel.text .carousel-item a{display:block;color:#fff;line-height:1.3em;width:100%;}
.carousel.text .carousel-item a:hover{color:#b8e5fa;}
#toprecipes .carousel-gallery:last-child{margin-bottom:120px;}
.article .articleimg{position:relative;overflow:hidden;max-height:200px;min-width:260px;}
.article.fullheight{height:100%;overflow:hidden;}
.article.fullheight .articleimg{max-height:200px;min-width:320px;text-align:center;vertical-align:middle;}
.article.fullheight img{width:100%;max-width:100%;height:auto;}
.article.split{height:50%;margin-bottom:1em;position:relative;max-height:349px;}
.col .article.split:last-child{margin-bottom:0;}
.article.split .articleimg{height:215px}
.article.split img{width:100%;max-width:100%;height:auto;}
.article .copy{font-weight:500;width:100%;background:#fff;bottom:0;padding:1.5em;font-size:.9em;border:1px solid #f2f2f2;border-top:none;}
.article .copy h3{font-family:"myriad-pro-condensed",sans-serif;font-style:normal;font-weight:700;font-size:1.2em;margin:0;text-transform:uppercase;}
.article .copy p{margin:0.5em 0;line-height:1.2em;}
.nutrition-articles{padding:1.5em 0 0 1.5em;}
.nutrition-articles h2{color:#747474;font-weight:200;margin-top:0;}
.mediakit{background:#67c0ec;color:#fff;text-align:center;padding:1.5em 0;}
.mediakit h4{color:#fff;margin:0 0 1em;}
.mediakit a{color:#fff;padding:60px 3em 1em;height:100px;display:block;}
.mediakit a.doc{background:url('../img/icons/icon-file.svg') no-repeat 50% 0;background-size:50px 50px;}
.mediakit a.link{background:url('../img/icons/icon-link.svg') no-repeat 50% 0;background-size:50px 50px;}
.no-svg .mediakit a.doc{background:url('../img/icons/icon-file.png') no-repeat 50% 0;background-size:50px 50px;}
.no-svg .mediakit a.link{background:url('../img/icons/icon-link.png') no-repeat 50% 0;background-size:50px 50px;}
#photogallery .col{margin-bottom:2%;}
a .galleryimg:hover h4,
a .galleryimg:hover h5{color:#67c0ec;}
.galleryimg{position:relative;display:block;}
.galleryimg .gallerytitle{position:absolute;bottom:-1px;width:100%;background:#fff;background:rgba(255,255,255,.8);}
.galleryimg .gallerytitle h4,
.galleryimg .gallerytitle h5{color:#58595b;padding:.5em;text-align:center;font-family:"myriad-pro-condensed",sans-serif;font-style:normal;font-weight:400;text-transform:uppercase;margin:0;}
#single-download{margin-top:1.5em;}
#single-download h2{text-transform:none;color:#747474;margin-bottom:.25em;}
#single-download .disclaimer{font-size:.9em;}
form.photodl label{width:100%;padding-top:1em;display:block;;}
form.photodl input,
form.photodl input[type="text"],
form.photodl input[type="email"],
form.photodl textarea{width:100%;display:block;padding:10px;border:1px solid #747474;color:#747474;size:21px;outline:0;width:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.submitbtn{margin:1.5em 0;height:50px;}
.submitbtn a{color:#747474;text-decoration:underline;padding-left:65px;background:url('../img/icons/download.png') no-repeat 0 50%;height:50px;display:block;padding-top:15px;}
.submitbtn a:hover{color:#67c0ec;}
.block{position:relative;}
.block .centered .copy{padding:1.5em 0;}
h4.drop{font-size:1.6em;line-height:1.1em;font-weight:500;padding-bottom:40px;background:url('../img/icons/icon-drop.svg') no-repeat 50% 100%;background-size:40px 40px;margin:0;}
.block.inner h4.drop{font-size:1.8em;}
.block .blockcopy h2,
.block .blockcopy h2 a{font-size:1.3em;line-height:1.2em;color:#747474;font-weight:200;margin:0 0 .25em;}
.block .blockcopy p,
.block .blockcopy p a{margin:0;color:#747474;}
.block .blockcopy p a:hover{color:#60c2f4;}
.block.inner{float:right;display:block;margin-bottom:1.5em !important;}
.block.border{border:1px solid #d7d7d7;}
.block.inner .col{margin-bottom:0;}
.block.inner .blockcopy{padding:0 1.5em;}
.block.inner .blockheading{padding:1.5em;}
.block .featurefull{margin-top:0;}
.block.vertical{clear:right;}
.block.vertical .bluefeature{position:relative;width:100%;}
.block.vertical .featurefull .smallhero{margin-left:0;}
.block.videoembed .video{position:relative;}
.block.videoembed .bluefeature{position:relative;width:100%;text-align:center;padding:1em;}
.block.videoembed .bluefeature p{font-size:.9em;line-height:1.3em;}
.block.graphicbug{background:#67c0ec;color:#fff;clear:right;}
.block.graphicbug .imgcol{min-height:200px;}
.block.graphicbug .blockcopy .centered .copy{text-align:center;color:#fff;}
.block.graphicbug .blockcopy .centered .copy h4{font-family:"myriad-pro-condensed",sans-serif;font-style:normal;font-weight:700;text-transform:uppercase;text-align:center;color:#fff;}
.block.graphicbug .blockcopy h5{font-weight:500;color:#fff;}
.block.graphicbug .blockcopy p,
.block.graphicbug .blockcopy p a{color:#fff;}
.block.inner .pullquote{text-align:left;background:#fff url('../img/icons/quotes-blue.png') no-repeat 0 0;padding:1.5em 0;color:#67c0ec;}
.block.inner .pullquote h3,
.block.inner .pullquote h5{color:#67c0ec;}
.block.inner.vertical .pullquote{font-size:.8em;}
.block.inner.related h3{margin:1em 0 .5em;font-family:"myriad-pro-condensed",sans-serif;font-style:normal;font-weight:700;text-transform:uppercase;}
.block.inner .related ul li{display:block;}
.block.inner .related ul li a{font-size:1.4em;display:block;vertical-align:middle;padding:10px 0;}
.block.inner.vertical .related ul li a{font-size:1.2em;display:block;vertical-align:middle;padding:5px 0;}
.relatedimg p:first-of-type{margin-top:10px;}
.relatedimg p{margin:0;color:#67c0ec;font-weight:500;}
.relatedimg p.credit{margin:0;color:#747474;font-weight:400;font-style:italic;}
.overlay span{position:absolute;top:50%;left:50%;margin-top:-35px;margin-left:-35px;background:#fff;background:rgba(255,255,255.8);padding:30px 20px 20px;-webkit-border-radius:50%;border-radius:50%;font-size:2.2em;display:block;}
#footer{position:relative;background:#67c0ec;color:#fff;margin:1.5em auto 0;font-size:.9em;line-height:1.3em;line-height:1.4em;text-align:left;width:100%;font-family:'Myriad-Pro',helvetica,arial,sans-serif;font-weight:400;font-style:normal;}
#footer a{color:#fff;}
#footer .content{padding:0;}
#footer .col{border-bottom:1px solid #fff;padding:1.5em;}
#footer .col:last-child{border-bottom:none;}
#footer h4{color:#565656;font-size:1.4em;margin:0;text-align:center;}
#footer .intro{font-family:'Gotham SSm A', 'Gotham SSm B',helvetica,arial,sans-serif;font-weight:500;font-style:normal;text-align:center;max-width:50%;margin:0 auto;}
#footer a.btn{font-family:"myriad-pro-condensed",sans-serif;font-style:normal;font-weight:400;background:#fff;color:#67c0ec;font-size:1.1em;-webkit-border-radius:20px;border-radius:20px;padding:12px 10px 10px;margin:0;line-height:1em;text-transform:uppercase;font-weight:normal;text-align:center;display:block;}
#footer a.btn.img{padding:3px 8px;}
#footer a.btn img{display:inline-block;margin-left:-5px;margin-right:5px;}
#footer .social{margin:0;padding:0;}
#footer .social li{display:inline-block;padding:3px;background:#fff;-webkit-border-radius:20px;border-radius:20px;margin-bottom:5px;text-align:center;width:22%;margin-right:2%;}
#footer .social li:last-child{margin-right:0;}
#footer .social li.ss-icon a{font-size:1.2em;line-height:1.8em;color:#67c0ec;padding:2px 5px 0;display:block;-webkit-border-radius:20px;border-radius:20px;}
#footer .social li.ss-icon a:hover{text-decoration:none;color:#0093d0;}
#footer .disclaimer{border-top:1px solid #fff;text-align:center;padding:1.5em;font-size:.8em;}
#footer .disclaimer p,
#footer .disclaimer ul{display:inline-block;}
#footer .disclaimer ul{list-style:none;padding:0;}
#footer .disclaimer ul li{display:inline-block;clear:left;}
#footer .disclaimer ul li{border-left:1px solid #fff;line-height:1.2em;}
#footer .disclaimer ul li:first-child{border-left:none;}
#footer .disclaimer ul li a{padding:5px 5px 5px 7px;text-decoration:underline;}
#footer .disclaimer ul li a:hover{text-decoration:none;}
.hidden-xs{display:none !important;}
.visible-xs{display:block !important;}
.padding{padding:1.5em;}
.padding.grey{background:#f1f1f1;}
@media all and (min-width:600px) and (max-width:767px){#supernav{display:block}
#footer .col{width:50%;min-height:200px;}
#footer .col:nth-child(1),
#footer .col:nth-child(3){border-right:1px solid #fff;}
#footer .col:nth-child(3){border-bottom:none;}
#footer .intro{max-width:100%;}
}
@media all and (min-width:768px){h1{font-size:2.2em;}
h2{font-size:2em;}
h3{font-size:1.8em;}
h4{font-size:1.6em;}
h5{font-size:1.4em;}
h6{font-size:1.2em;}
#hero h1,
#subnav.inner h1{font-size:2.8em;}
#container{font-size:1em;line-height:1.6em;}
.content{padding:2em 1.5em;}
#supernav{display:block}
#supernav .left{display:block;float:left;width:40%;}
#supernav .right{float:right;width:60%;}
#supernav .search{width:55%;}
#nav{width:65.666%;}
#nav.espanol{width:66.666%;}
#nav ul.nav,
#supernav .language{display:block;}
#topnav .content{padding-top:.5em;padding-bottom:.5em;}
#nav .controlnav{display:none;}
#topnav.stuck #logo{margin:0;}
#topnav.stuck #logo img{max-height:42px;}
#topnav.stuck #nav ul.nav li a{padding:12px;}
#logo{width:33.333%;}
#logo img{max-height:62px;}
#home{margin-bottom:2em;}
.homeslider .rsOverflow, .royalSlider.homeslider{max-height:624px;}
.slide .slideheadline{left:60px;}
.slide .slideheadline h2{font-size:7em;}
.slide .slideheadline h3{font-size:2em;}
.slide .linkbar .slidecaption{width:80%;padding:5px 10px 3px 20%;text-align:center;}
.slide .linkbar .morelink{display:block;float:left;width:15%;}
.slide .linkbar .slidecaption{font-size:1.2em;}
#hero .title{padding:25px;}
.subhero .title h2{font-size:2.8em;}
#subnav{margin-bottom:60px;}
#subnav ul.nav{padding:20px;}
#subnav ul.nav li{display:inline-block;border-left:1px solid #93dafd;border-bottom:none;margin:2px 0;}
#subnav ul.nav li:first-child{border-left:none;}
#subnav ul.nav li a{font-size:1.3em;}
#innersearch input[type="text"]{font-size:1.5em;}
.hero .herolabel{position:absolute;width:50%;right:20px;top:20px;padding:15px 7%;width:50%;padding:20px 7%;border:none;}
.herolabel h3{font-size:1.7em;}
.herolabel h5{font-size:1.3em;}
.herolabel p{font-size:1em;}
.smallhero .herolabel h5{padding:0 20%;}
.slide .linkbar .morelink a{font-size:1em;}
.sectionbreak{font-size:1.4em;}
.sectiongroup .col{margin-bottom:0;}
#pageintro h2,
.pageintro h2{font-size:2.2em;}
#pageintro p,
.pageintro p{font-size:2.2em;}
p.big{font-size:2.2em;}
.article .articleimg{min-width:214px;max-height:580px;}
.article .copy{width:100%;background:#fff;bottom:0;height:129px;padding:1.5em;font-size:.9em;}
.article.fullheight .articleimg{min-width:580px;max-height:580px;}
.article.fullheight .articleimg.long img{margin-left:-50%;}
.article .copy{height:129px;}
.article .copy h3{font-size:1.7em;}
.bluefeature{position:absolute;height:100%;width:49.0%;right:0;}
.feature{position:absolute;height:100%;width:49.0%;right:0;}
.bluewide h3{font-size:1.5em;}
.bluefeature,
.feature{font-size:1.3em;}
.bluefeature h3,
.feature h3{font-size:1.5em;}
.featurefull{margin-top:60px;}
.featurefull .col.span_6{width:50% !important;}
.featurefull .bluefeature{left:0;}
.featurefull .bluefeature.right{right:0;left:auto;top:0;}
.featurefull .smallhero{margin-left:50%;}
.content.subfeature{font-size:1.2em;line-height:2em;}
.resultrow .meta{margin-top:1em;}
.related{padding-left:25px !important;}
.related ul li{padding-left:65px;min-height:50px;}
.related ul li.link{background:url('../img/icons/link.png') no-repeat;background-size:50px 50px;}
.related ul li.doc{background:url('../img/icons/doc.svg') no-repeat;background-size:50px 50px;}
.carousel.text .carousel-item{min-height:340px;}
.carousel .carouseltext-wrap h5{font-size:2em;}
.carousel .carouseltext-wrap p{font-size:1.1em;}
.carousel .carouseltext-wrap p.articledate{font-size:.9em;}
h4.drop{font-size:2em;}
.block.inner h4.drop{font-size:2.4em;}
.block .blockcopy h2,
.block .blockcopy h2 a{font-size:1.6em;}
.block .blockcopy .centered .copy{text-align:left;}
.block.inner .blockcopy{padding:0 1.5em 0 0;}
.block.inner.vertical .blockcopy{padding:0 1.5em;}
.block.inner.vertical .blockcopy .centered .copy{text-align:center !important;}
.blockcopy{text-align:center;}
.block.inner .blockheading{padding:0;}
#footer{font-size:1em;}
#footer .content{border-bottom:none;padding:2% 2% 0;}
#footer .col{border-right:1px solid #fff;border-bottom:none;padding-top:0;padding-left:0;padding-right:2%;padding-bottom:2%;min-height:220px;}
#footer .col:first-child{border-left:1px solid #fff;padding-left:2%;}
#footer .intro{min-height:50px;}
#footer h4{font-size:1.8em;text-align:left;}
#footer .intro{text-align:left;max-width:100%;}
#footer a.btn{font-size:1.1em;text-align:center;display:inline-block;}
#footer .social li{width:40px;height:40px;margin-right:2px;}
.hidden-xs{display:block !important;}
.visible-xs{display:none !important;}
.col{margin-left:2%;padding:0;}
.row .col:first-child{margin-left:0;}
.span_1{width:6.5%;}
.span_2{width:15.0%;}
.span_3{width:23.5%;}
.span_4{width:32.0%;}
.span_5{width:40.5%;}
.span_6{width:49.0%;}
.span_7{width:57.5%;}
.span_8{width:66.0%;}
.span_9{width:74.5%;}
.span_10{width:83.0%;}
.span_11{width:91.5%;}
.span_12{margin-left:0;width:100%;}
.append_1,
.row .col:first-child.append_1,{margin-left:9%;}
.append_2,
.row .col:first-child.append_2{margin-left:17.5%;}
.append_3,
.row .col:first-child.append_3{margin-left:26%;}
.append_4,
.row .col:first-child.append_4{margin-left:34.5%;}
.append_5,
.row .col:first-child.append_5{margin-left:43%;}
.append_6,
.row .col:first-child.append_6{margin-left:51.5%;}
}
@media all and (min-width:768px) and (max-width:1008px){.bluefeature .centered .copy{padding:1.5em;font-size:.8em;}
.bluefeature .centered .copy h2{font-size:1.6em}
#nav ul.nav li a{font-size:1.2em;padding:25px 12px;}
#footer .col:first-child{border-left:none;padding-left:0;}
#footer .col:last-child{border-right:none;padding-right:none;}
}
@media all and (min-width:768px) and (max-width:900px){h1{font-size:1.7em;}
h2{font-size:1.5em;}
#logo img{max-height:48px;}
.hero .herolabel h3{font-size:1.4em;}
.hero .herolabel h5{font-size:1.1em;}
.hero .herolabel p{font-size:1em;}
#supernav .nav li{font-size:1em;margin-right:10px;}
#supernav .language ul{font-size:.9em;}
#nav ul.nav li a{font-size:1em;padding:20px 10px;}
.slide .slideheadline h2{font-size:5em;}
.slide .slideheadline h3{font-size:1.5em;}
.slide .linkbar .slidecaption{width:75%;}
.slide .linkbar .morelink{width:20%;}
.slide .linkbar .slidecaption{font-size:1em;}
.slide .linkbar .morelink a{font-size:.9em;}
.hero .herolabel h3{font-size:1.3em;}
.hero .herolabel h5{font-size:1em;}
.hero .herolabel p{font-size:.9em;}
}
@media all and (min-width:1000px) and (max-width:1150px){.carousel .carouseltext-wrap h5{font-size:1.4em;}
.carousel .carouseltext-wrap p{font-size:.9em;}
}
@media only screen
and (min-device-width:768px)
and (max-device-width:1024px){}
@media print,
(-o-min-device-pixel-ratio:5/4),
(-webkit-min-device-pixel-ratio:1.25),
(min-resolution:120dpi){#nav ul.nav{background:url('../img/elements/navdiv@2x.png') no-repeat 100% 0;background-size:contain;}
#nav ul.nav li{background:url('../img/elements/navdiv@2x.png') no-repeat 0 0;background-size:contain;}
}
.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px;}
.ir:before{content:"";display:block;width:0;height:150%;}
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before,
.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important;}
a,
a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
abbr[title]:after{content:" (" attr(title) ")";}
.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after{content:"";}
pre,
blockquote{border:1px solid #999;page-break-inside:avoid;}
thead{display:table-header-group;}
tr,
img{page-break-inside:avoid;}
img{max-width:100% !important;}
@page{margin:0.5cm;}
p,
h2,
h3{orphans:3;widows:3;}
h2,
h3{page-break-after:avoid;}
}
.white{color:#ffffff !important;}