/*additional styles that should be included on the all templates to support multi columns width. 
This can also be included on the main sites CSS if the designer has other width ideas */


/* SAMI: NOT IN USE

.font10{
	font-size: 10px;
}
.font12{
	font-size: 12px;
}
.font14{
	font-size: 14px;
}
.font16{
	font-size: 18px;
}
.font18{
	font-size: 18px;
}
.font24{
	font-size: 24px;
}
.font30{
	font-size: 30px;
}
.font36{
	font-size: 36px;
}
.font42{
	font-size: 42px;
}
.font48{
	font-size: 48px;
}
.font54{
	font-size: 54px;
}
.font60{
	font-size: 60px;
}
.font72{
	font-size: 72px;
}

*/

/* ==========================================================================
   Media Queries
   ========================================================================== */
	

.col-1-1{
    width: 100%;
}

/* SAMI: NOT IN USE
.col-1-2{
    width: 49.7%;
}

.col-1-4{
    width: 24.5%;
}

.col-3-4{
    width: 74.5%;
}

.col-1-3{
    width: 33.1%;
}

.col-2-3{
    width: 66.6%;
}

.col-1-5{
    width: 19.5%;
}

.col-4-5{
    width: 79%;
}

*/






.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

/* SAMI: NOT IN USE	
.displayNone{
	display: none;
}

.col-1-2, .col-1-4, .col-3-4, .col-1-3, .col-2-3, .col-1-5, .col-4-5
{
    float:left;
}
*/
