h1,
h2,
h3,
h4,
h5,
h6{text-transform:none;}
/* SAMI: NOT IN USE
.grey{color:#747474;}
.blue{color:#60c2f4;}
.light{font-family:'Gotham SSm A', 'Gotham SSm B',helvetica,arial,sans-serif;font-weight:200;font-style:normal;}
.medium{font-weight:500;}
.bold{font-weight:700;}
.condensed{font-family:"myriad-pro-condensed",sans-serif;font-style:normal;font-weight:400;}
.smaller{font-size:.8em;}
.bigger{font-size:1.4em;line-height:1.5em;}
.caption{font-size:15.83px;}
@media all and (min-width:768px){.smaller{font-size:.9em;}
.bigger{font-size:2.2em;}
.caption{font-size:22.4px;}
}
*/